

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    width: 1000px;
    margin: 0 auto;
    height: 0 auto;
    margin-top: 15px;
    border: 0.8px solid lightgray;

}


/* Nab Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;

}
nav h5{
    font-size: 22px;
    font-weight: 800;
}
.btn{
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    border: 0.8px solid black;

}
/* banner style start */
.banner{
    background-image: url('img/Hero-bg.png');
    background-repeat: no-repeat;
    text-align: center;
}
.banner_img img{
    width: 130px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
.banner h1{
    font-weight: 800;
    font-size: 30px;
    padding: 8px;
}
.banner p{
    font-size: 11px;
    font-weight: 300;
    padding: 5px;
}
.btn_2{
    margin-bottom: 20px;
    background-color: rgb(7, 6, 6);
    color: white;
    font-size: 12px;
    font-weight: 90;
    padding: 12px 22px;
    border-radius: 5px;

}

/* banner style end */
 /* content style start here */

 .content{
    width: 810px;
    border-top: 45px;
    border-right: 70px;
    box-shadow: 0.5;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 35px;
    background-color:rgb(252, 251, 251);
    /* background-color: rgb(250, 248, 248); */
    border-radius: 6px;
    padding: 10px;
 }
 .text{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 28px;
 }
.text h3{
    font-size: 22px;
    font-weight: 900;
}
 .text p{
    font-size: 11px;
    font-weight: 300;
 }

 .box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
    
 }
 .box_left{
    padding: 20px;
    background-color: white;
    margin-left: 15px;
    border-radius: 15px;
 }
 .box_left h4{
    font-size: 16px;
    font-weight: 500;
 }
 .box_left p{
    font-size: 12px;
    font-weight: 300;
 }
 .btn_3{
    background-color: white;
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding: 9px 12px;
    border: 1px solid black;
    margin-top: 8px;
 }
 .box_right{
    background-color:  rgb(252, 251, 251);
    margin-right: 35px;
    
 }
 .box_right img{
    width: 175px;
    height: 170px;
    margin-top: 15px;
    margin-right: 25px;
 }

 /* .box_left_2{
    
    background-color: white;
    margin-left: 15px;
    padding-left: -18px;
 }

 .box_right_2{
    padding: 20px;
    background-color:  rgb(252, 251, 251);
    margin-right: 35px;
 } */
 /* content style end here */

 /* inspiration style start here */

.video{
   align-items: center;
   justify-content: center;
   border: 1px solid lightgray;
   margin-top: 45px;
   margin-left: 60px;
   margin-right: 60px;
   margin-bottom: 45px;
   border-radius: 10px;
   padding: 20px;
}
.embade{
   border-radius: 10px;

}

 /* inspiration style end here */

 /* target styles start */

.card_body{
   display: flex;
   margin: 20px;
   align-items: center;
   justify-content: center;

}

.card_1{
   background-color: rgb(253, 240, 243);
   border-radius: 8px;
   text-align: left;
   margin-left: 10px;
   margin-top: 12px;
   padding: 15px;
}
.card_1 img{
   width: 20px;
   margin-top: 35px;
   margin-left: 25px;
}
.card_1 h5{
   margin-left: 25px;
   font-size: 15px;
   font-weight: 800;
}
.card_1 p{
   font-size: 8px;
   margin-left: 25px;
   margin-top: -5px;
}
.card_1 a{
   font-size: 9px;
   font-weight: 700;
   color: black;
   margin-left: 25px;
   
}
.card_2{
   border-radius: 8px;
   background-color: aliceblue;
   text-align: left;
   margin-left: 10px;
   margin-top: 12px;
   padding: 15px;
}.card_2 img{
   width: 20px;
   margin-top: 35px;
   margin-left: 25px;
}
.card_2 h5{
   margin-left: 25px;
   font-size: 15px;
   font-weight: 800;
   
}
.card_2 p{
   font-size: 8px;
   margin-left: 25px;
   margin-top: -5px;
}
.card_2 a{
   font-size: 9px;
   font-weight: 700;
   color: black;
   margin-left: 25px;
   
}
.card_3{
   background-color: rgb(253, 250, 245);
   border-radius: 8px;
   text-align: left;
   margin-left: 10px;
   margin-top: 12px;
   padding: 15px;
}
.card_3 img{
   width: 35px;
   margin-top: 20px;
   margin-left: 25px;
}
.card_3 h5{
   margin-left: 25px;
   font-size: 15px;
   font-weight: 800;
   
}
.card_3 p{
   font-size: 8px;
   margin-left: 25px;
   margin-top: -5px;
}
.card_3 a{
   font-size: 9px;
   font-weight: 700;
   color: black;
   margin-left: 25px;
   
}

.next_card{
   
   margin-top: 35px;
   margin-left: 85px;
   margin-right: 60px;
}
.card_4{
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
   border: 2px solid rgb(245, 242, 242);
   box-shadow: 2px;
   border-radius: 10px;
   
}
.card_4 img{
   /* width: 50px;
   height: 55px; */
   padding: 20px;
   margin-top: 15px;
   margin-left: 10px;
}
.text1 h5{
   margin-left: 25px;
   font-size: 15px;
   font-weight: 800;
}
.text1 p{
   font-size: 10px;
   margin-left: 25px;
   margin-top: -5px;
}
.text1 a{
   font-size: 10px;
   font-weight: 700;
   color: black;
   margin-left: 25px;
}

 /* target style end */

 /* support style */


 .support{
   margin-top: 35px;
   margin-left: 85px;
   margin-right: 60px;
 }

 .support img{
   width: 849px;
   height: 210px;
   position: relative;
   border-radius: 8px;

 }
 .need{
   position: absolute;
   margin-top: -200px;
   margin-left: 230px;
   text-align: center;
 }
 .need h3{
   color: white;
   font-weight: 800;

 }
 .need p{
   color: white;
   font-size: 10px;
   font-weight: 400;
 }
 .need input{
   padding: 5px;
   border-radius: 8px;
 }

 /* footer style */
 ul li{
   list-style: none;
   margin-right: 25px;
 }
 .social ul{
   display: flex;
 }
 .social{
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-top: -15px;
   width: 840px;
   height: 30px;
   padding: 12px;
 }

 
 .social ul li img{
   height: 20px;
   width: 20px;
   
 }
 .footer{
   margin-top: 25px;
   margin-left: 45px;
   margin-right: 40px;
   margin-bottom: 50px;
   background-color: rgb(242, 245, 248);
   border: 0.5px solid rgb(245, 241, 241);
 }

